---
import '../styles/global.css'
---

<nav class="sticky top-0 bg-white">
  <div class="px-8 py-6 flex flex-wrap gap-4 justify-between items-center text-lg max-w-2xl mx-auto">
    <a href="/"
      class="tracking-wider underline-offset-2 hover:underline hover:text-blue-500 transition-all ease-in-out">WILL
      TROJNIAK</a>
    <label for="navbar-hamburger" class="sm:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </label>
    <input type="checkbox" id="navbar-hamburger" class="peer hidden" />
    <menu
      class="hidden px-8 py-6 max-h-lvh transition w-full border-t border-b bg-white flex-col absolute left-0 top-16 sm:p-0 sm:border-none sm:static sm:w-fit peer-checked:flex gap-4 sm:flex sm:flex-row"
      id="navbar-hamburger">
      <!--<li><a href="/about/" class="underline-offset-2 hover:underline transition-all">About</a></li>-->
      <li><a href="/projects/"
          class="underline-offset-2 hover:underline hover:text-blue-500 transition-all ease-in-out">Projects</a></li>
      <!--<li><a href="about.html" class="underline-offset-2 hover:underline transition-all">Gallery</a></li>-->
      <li><a href="/contact/"
          class="underline-offset-2 hover:underline hover:text-blue-500 transition-all ease-in-out">Contact</a></li>
    </menu>
  </div>
</nav>
